In [1]:
# Data Manipulation
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold

# Data visualization
import matplotlib.pyplot as plt

# 1. Reading in Data

In [2]:
data = pd.read_csv("../data/recs2009_public.csv")

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (717,718) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.head()

,DOEID,REGIONC,DIVISION,REPORTABLE_DOMAIN,TYPEHUQ,NWEIGHT,HDD65,CDD65,HDD30YR,CDD30YR,...,SCALEKER,IECC_Climate_Pub,HDD50,CDD80,GND_HDD65,WSF,OA_LAT,GWT,DesignDBT99,DesignDBT1
0,1,2,4,12,2,2471.68,4742,1080,4953,1271,...,-2,4A,2117,56,4250,0.48,6,56,9,96
1,2,4,10,26,2,8599.17,2662,199,2688,143,...,-2,3C,62,26,2393,0.61,0,64,38,73
2,3,1,1,1,5,8969.92,6233,505,5741,829,...,-2,5A,2346,49,5654,0.48,3,52,12,88
3,4,2,3,7,2,18003.64,6034,672,5781,868,...,-2,5A,2746,0,4941,0.55,4,55,7,87
4,5,1,1,1,3,5999.61,5388,702,5313,797,...,-2,5A,2251,0,5426,0.61,4,50,13,90

In [4]:
data.shape

(12083, 940)

# 2. Cleaning Data

In [5]:
# drop ID
data.drop(columns="DOEID", inplace = True)

In [6]:
# Two messy columns to clean up
# print(data.columns[717:719],end="\n\n")

# print("Before Cleaning:")
# print(data.NOCRCASH.unique())
# print(data.NKRGALNC.unique(),end="\n\n")

data.NOCRCASH = data.NOCRCASH.replace('.',-2).astype(int)
data.NKRGALNC = data.NKRGALNC.replace('.',-2).astype(int)

# print("After cleaning")
# print(data.NOCRCASH.unique())
# print(data.NKRGALNC.unique())

In [7]:
# 3 string columns
strCols = ["METROMICRO","UR","IECC_Climate_Pub"]
# print("Before Cleaning:")
for col in strCols:
    vals = np.unique(data[col])
#     print(vals)
    mapper = dict(zip(vals, range(0,vals.shape[0])))
    data[col] = data[col].map(mapper)
# print()
# print("After Cleaning:")
for col in strCols:
    vals = np.unique(data[col])
#     print(vals)

In [8]:
# drop columns that only have 1 unique value or <50% of the column values are applicable(!=-2) 
for i in data.columns:
    vals,cnts = np.unique(data[i], return_counts=True)
    if vals.shape[0]==0:
        data.drop(columns=i, inplace=True)
    if -2 in cnts and cnts[-2] >= 0.5 * data.shape[0]:
        data.drop(columns=i, inplace=True)

In [9]:
# Remove Quasi-Constant features
qconstant_filter = VarianceThreshold(threshold=0.01)
qconstant_filter.fit(data)
print("There are",data.shape[1]-len(data.columns[qconstant_filter.get_support()]),"columns that",\
      str((1-qconstant_filter.threshold)*100)+"% of the values in that column are the same")

qconstant_columns = [column for column in data.columns
                    if column not in data.columns[qconstant_filter.get_support()]]
for i in qconstant_columns:
    data.drop(columns=i,inplace=True)

There are 330 columns that 99.0% of the values in that column are the same

In [10]:
# remove correlated features:
corr_features = set()
corr = data.corr()
for i in range(corr.shape[0]):
    for j in range(i):
        if abs(corr.iloc[i,j])>=0.9:
            corr_features.add(corr.columns[i])
print("There are",len(corr_features),"correlated columns")
for i in corr_features:
    data.drop(columns=i, inplace = True)

There are 199 correlated columns

In [11]:
data.shape

(12083, 410)

# 3. Write data

In [12]:
import pickle
with open('../data/cleaned.pickle', 'wb') as handle:
    pickle.dump(data, handle)